header.header 
    .navigation 
        img(src="./images/Logo.png", alt="" class="header-logo")
        include ./menu
        .header-auth
            a.button(href="#!") Contact Us
    .header-main 
        .header-content
            h1.global-heading Tour your dream destination with tourve.
            span.global-text Plan and book your perfect trip with expert advice, travel tips, destination information and inspiration from us.
            a.button(href="") Discover Now 
        .haeder-image
            img(src="./images/Image (4).png", alt="")
    .header-search 
        .search-content
            h3 Where
            span Center Point, Lo...
                img(src="./images/Vector.png", alt="")
        .search-content
            h3 Date
            span 09th March,2021
                img(src="./images/Union.png", alt="")
        .search-content
            h3 Guests
            span 05
                img(src="./images/Vector 350.png", alt="")
        .search-button 
            a.button(href="") Search Plan



