ul.menu 
    li.menu-item
        a.menu-link(href="") Home
    li.menu-item
        a.menu-link(href="") About
    li.menu-item
        a.menu-link(href="#!") Destinations
    li.menu-item
        a.menu-link(href="#!") Tours
    li.menu-item
        a.menu-link(href="#!") Blog